<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gerdaszabo.szage.bookpilot">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/book_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/book_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gerdaszabo.szage.bookpilot.ui.BookListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gerdaszabo.szage.bookpilot.ui.DetailActivity" />
        <activity android:name="com.gerdaszabo.szage.bookpilot.ui.SearchActivity" />
        <activity android:name="com.gerdaszabo.szage.bookpilot.ui.BarcodeActivity" />
        <activity android:name="com.gerdaszabo.szage.bookpilot.ui.StoreFinderActivity" />
        <provider
            android:authorities="com.gerdaszabo.szage.bookpilot"
            android:name="com.gerdaszabo.szage.bookpilot.data.BookProvider"
            android:exported="true"
            android:grantUriPermissions="true"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- TODO: Replace the value field with your own API key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDMKPmKpihAouypyqx8AEDBeBMV7VZZgQM"/>
        
        <receiver android:name="com.gerdaszabo.szage.bookpilot.widget.BookWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_book" />
        </receiver>
        
        <service android:name="com.gerdaszabo.szage.bookpilot.widget.BookWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>